@font-face {
    font-family: 'digital-clock-font';
    src: url('fonts/digital-7.ttf');
}

/* align-items -> CROSS
justify-content -> MAIN */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #FCB31B;
}

.container {
    display: flex;
    flex-direction: column;
    border: 20px solid black;
    border-radius: 28px;
    width: 300px;
    min-height: 500px;
    background-color: black;
}

#display {
    flex-basis: 200px;
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    color: black;
    background-color: hsl(155, 100%, 77%);
    font-family: digital-clock-font;
    border-bottom: 20px solid black;
    border-radius: 45px;
    box-sizing: border-box;
    font-size: 60px;
    line-height: 60px;
    word-break: break-all;
    word-wrap: break-word;
    /* 
    */
}

.buttons {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    box-sizing: border-box;
    /*1.6 makes bug more apparent)*/
    /*flex-basis: 300px;*/
    min-height: 300px;
    /*flex-shrink: 0;*/
    /*min-height:  maybe? - band-aid solution*/
}

.row {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    background-color: rgb(245, 245, 245);
}

.firstRow {
    border-top: 5px solid rgb(245, 245, 245);
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

/* disabling button stuff to get 50-50 sizing
    */

.lastRow {
    border-bottom: 5px solid rgb(245, 245, 245);
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    /* disabling button stuff to get 50-50 sizing
    */
}


button {
    margin: 0;
    padding: 0;
    flex-grow: 1;
    flex-basis: 0px;
    background-color: rgb(187, 187, 187);
    border-radius: 18px;
    font-size: 30px;
    border: 5px solid rgb(245, 245, 245);
    box-shadow: inset 0px -3px black;
    /* disabling button stuff to get 50-50 sizing
    box-sizing: border-box;
    */
}

.clear-button {
    background-color: #EB9000;
}

button:hover {
    background-color: rgb(161, 161, 161);
}

.clear-button:hover {
    background-color: #cf8001;
}

button:active {
    transform: translateY(4px);
}